<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <xacro:macro name="arm_transmission" params="name">
	<transmission name="trans_${name}">
	  <type>transmission_interface/SimpleTransmission</type>
      <joint name="${name}_joint">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="motor_{name}">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
	</transmission>
  </xacro:macro>

  <transmission name="trans_shoulder_slider">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="shoulder_slider">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor_shoulder_slider">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <xacro:arm_transmission name="shoulder_roll"/>
  <xacro:arm_transmission name="shoulder_pitch"/>
  <xacro:arm_transmission name="elbow_pitch"/>
  <xacro:arm_transmission name="wrist_pitch"/>
  <xacro:arm_transmission name="wrist_yaw"/>
  <xacro:arm_transmission name="wrist_roll"/>

</robot>
