<?xml version="1.0"?>
<launch>
  <include file="$(find hir_moveit_config)/launch/planning_context.launch" >
    <arg name="load_robot_description" value="true" />
  </include>

  <!-- publish the robot state (tf transforms) -->
<!--  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" /> -->

  <include file="$(find hir_moveit_config)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
    <remap from="/joint_states" to="/manipulator/joint_states" />
  </include>

  <include file="$(find hir_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
  </include>
  
  <include file="$(find hir_moveit_config)/launch/default_warehouse_db.launch" />

</launch>

